@model BancoMexicoWeb.Areas.Admin.Models.AgregarCajaViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<form asp-action="Agregar" method="post">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        
    </div>
    <div class="form-group">
        <label asp-for="Contrasena"></label>
        <input asp-for="Contrasena" class="form-control" />
        
    </div>
   
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
    </div>
        <span >@Html.ValidationSummary(true)</span>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>    

