@model BancoMexicoWeb.Areas.Admin.Models.TurnosEstatsViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="contenido">
    <a href="~/Admin/Cajeros/Agregar" class="Agregar">Agregar Cajas</a>
    <div class="estadisticas">
        <div class="estadisticas__container">
            <label>Turnos atendidos hoy</label>
            <span id="turnosAtendidos">0</span>
        </div>
        <div class="estadisticas__container">
            <label>Turnos cancelados hoy</label>
            <span id="turnosCancelados">0</span>
        </div>
        <div class="estadisticas__container">
            <label>Turnos en espera</label>
            <span id="turnosEspera">0</span>
        </div>
        <div class="estadisticas__container">
            <label>Promedio de tiempo de espera</label>
            <span id="promedioEspera">0 minutos</span>
        </div>
    </div>
    <table id="tabla">
        <thead>
            <tr>
                <th>Caja</th>
                <th>Estado</th>
                <th>Turno actual</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.18/signalr.min.js"></script>
<script src="~/js/AdminMain.js"></script>
