body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #fff;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.header {
    width: 100%;
    background-color: #54A0F0;
    color: white;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

    .header .bank-name {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .header .cashier-name {
        font-size: 1.5rem;
        font-weight: bold;
    }

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    max-width: 400px;
    width: 100%;
    margin-top: 50px;
    display:flex;
    flex-direction: column;
}

h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #54A0F0;
}

.turno {
    font-size: 48px;
    margin-bottom: 30px;
    color: #295D99;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

#cancelar {
    border: 2px solid #FF0000;
    background-color: #fff;
    color: #FF0000;
    display:none;
}

#cancelar:hover {
    background-color: #FF0000;
    color: #fff;
    transform: scale(1.05);
}

button {
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
    outline: none;
}

    button:disabled {
        background-color: #cccccc;
        cursor: default;
        transform: none;
        opacity: 0.6;
    }

#atendiendo {
    background-color: #54A0F0;
    color: #fff;
}

#siguiente {
    background-color: #2196f3;
    color: #fff;
}

#atendiendo:hover {
    background-color: #295D99;
    transform: scale(1.05);
}


#esperando {
    font-size: 1.5rem;
    margin-top: 20px;
    opacity: 0;
    transition: opacity 0.5s;
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loading-bar-spinner.spinner {
    left: 100%;
    margin-left: -50px;
    top: 50%;
    margin-top: -20px;
    position: absolute;
    z-index: 19 !important;
    animation: loading-bar-spinner 600ms linear infinite;
}

    #loading-bar-spinner.spinner .spinner-icon {
        width: 30px;
        height: 30px;
        border: solid 4px transparent;
        border-top-color: #54A0F0 !important;
        border-left-color: #54A0F0 !important;
        border-radius: 50%;
    }
.btnsalir {
    margin-left: 15px;
    vertical-align: middle;
    color: #fff;
}

    .btnsalir i {
        font-size: 30px;
        color: #fff;
    }

@keyframes loading-bar-spinner {
    0% {
        transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
